<!-- 
    Places
    Displays individual place with image, description, and comments
-->

<%- include("../partials/header") %>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="card" style="margin: 25px auto">
                <img class="figure-img img-fluid" src="<%=place.displayImage%>" alt="<%=place.location%>">
                <figcaption class="figure-caption">
                    <div class="container" style="margin-bottom: 10px">
                        <div style="display: flex; justify-content: space-between;">
                            <h4><%=place.location%></h4>
                            <p style="line-height: 1rem;"><em>Submitted by: <%=place.user.username%></em>, 10 days ago</p>
                        </div>
                        <p><%=place.description%></p>
                        <!-- Only shows edit and delete buttons for the user who created the place -->
                        <% if(currentUser && place.user.id.equals(currentUser._id)) {%>     
                            <a class="btn btn-sm btn-warning" href="/places/<%=place._id%>/edit">Edit</a>  
                            <form style="display: inline; margin-left: 10px;" action="/places/<%= place._id %>?_method=DELETE" method="POST">
                                <button class="btn btn-sm btn-danger">Delete</button>
                            </form>    
                        <%}%>     

                    </div>
                </figcaption>
            </div>



            <div class="card bg-light p-3 comment">
                <h4 class="mb-0">Comments</h4><a href="/places/<%=place._id%>/comments/new">Add a comment</a>
                <hr>
                <%place.comments.forEach((comment)=>{%>
                    <div class = "row">
                        <div class="col-md-12 comment-section">
                            <div class="comment-container">
                                <strong><%=comment.user.username%></strong>
                                <span class="text-right">5 days ago</span>
                                <p><%=comment.text%></p>
                                <div class="comment-buttons">
                                    <a class="edit-btn" href="/places/<%=place._id%>/comments/<%=comment._id%>/edit">Edit</a>
                                    <form class="delete-form" action="/places/<%=place._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                                        <input type="submit" class="delete-btn" value="Delete">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                <%})%>
               </div>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>
